{:deps {djblue/portal {:mvn/version "0.57.1"}
        org.babashka/cli {:mvn/version "0.8.60"}}
 
 :min-bb-version "1.3.0"

 :paths ["dev" "src"]

 :pods {}

 :tasks {download-sample 
         {:doc "download a small sample of data from the NYC Open Data API"
          :task (shell "bb -f src/extraction/socrata.clj")}
         
         export-schema-film-permits
         {:doc "Export the schema of the film_permits table as JSON"
          :requires ([tasks])
          :task (tasks/export-schema "film_permits")}
         
         export-schema-service-requests-311
         {:doc "Export the schema of the service_requests_311 table as JSON"
          :requires ([tasks])
          :task (tasks/export-schema "service_requests_311")}

         ingest
         {:doc "Run all dlt pipelines for data ingestion"
          :task (shell "python ingestion/run-all-dlt-pipelines.py")}}}
